<h1 style = "text-align:center; text-decoration: underline"> Preprocessing of environmental data </h1>

<i>Libraries</i>

In [63]:
import pandas as pd
import os

<hr>
<i>Variables and Paths<i>

In [64]:
###### Variables
co2_data_path = os.path.join("../Data_raw/annual-co2-emissions-per-country.csv")
energy_data_path = os.path.join("../Data_raw/per-capita-energy-use.csv")
air_data_path = os.path.join("../Data_raw/long-run-air-pollution.csv")

# Reading in data
co2_data = pd.read_csv(co2_data_path)
energy_data = pd.read_csv(energy_data_path)
air_data = pd.read_csv(air_data_path)

<hr>
<i>Function definitions</i>

In [65]:
#Function for inspecting the datafiles
def inspect_data(input_file: pd.DataFrame) -> None:
    '''
    The function inspect_data expects a pandas DataFrame as input and prints the 
    dimensions, structure and variables of the DataFrame.

    Parameters:
    - input_file: pd.DataFrame

    Returns:
    - None

    >>> inspect_data(co2_data)
    Structure of co2_data dataframe
    '''

    #prints dimensions of dataframe
    print(f"Shape of {input_file} dataframe")
    input_file.shape

    #prints structure of dataframe
    print(f"Info of {input_file} dataframe")
    input_file.info()

    #prints the first 5 rows of dataframe
    print(f"Head of {input_file} dataframe")
    input_file.head(n = 5)

<hr>
<b>Inspection<b>

In [66]:
inspect_data(co2_data)

Shape of           Entity Code  Year  Annual CO₂ emissions  time
0    Afghanistan  AFG  2000            1047127.94  2000
1    Afghanistan  AFG  2023           11020218.00  2023
2        Albania  ALB  2000            3024926.00  2000
3        Albania  ALB  2023            5144279.00  2023
4        Algeria  DZA  2000           85398600.00  2000
..           ...  ...   ...                   ...   ...
389        Yemen  YEM  2023           10034892.00  2023
390       Zambia  ZMB  2000            1784113.00  2000
391       Zambia  ZMB  2023            7748922.00  2023
392     Zimbabwe  ZWE  2000           13814538.00  2000
393     Zimbabwe  ZWE  2023           11164030.00  2023

[394 rows x 5 columns] dataframe
Info of           Entity Code  Year  Annual CO₂ emissions  time
0    Afghanistan  AFG  2000            1047127.94  2000
1    Afghanistan  AFG  2023           11020218.00  2023
2        Albania  ALB  2000            3024926.00  2000
3        Albania  ALB  2023            5144279.00  2023
4        Algeria  DZA  2000           85398600.00  2000
..           ...  ...   ...                   ...   ...
389        Yemen  YEM  2023           10034892.00  2023
390       Zambia  ZMB  2000            1784113.00  2000
391       Zambia  ZMB  2023            7748922.00  2023
392     Zimbabwe  ZWE  2000           13814538.00  2000
393     Zimbabwe  ZWE  2023           11164030.00  2023

[394 rows x 5 columns] dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 394 entries, 0 to 393
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entity                394 non-null    object
 1   Code                  394 non-null    object
 2   Year                  394 non-null    int64
 3   Annual CO₂ emissions  394 non-null    float64
 4   time                  394 non-null    int64
dtypes: float64(1), int64(2), object(2)
memory usage: 15.5+ KB
Head of           Entity Code  Year  Annual CO₂ emissions  time
0    Afghanistan  AFG  2000            1047127.94  2000
1    Afghanistan  AFG  2023           11020218.00  2023
2        Albania  ALB  2000            3024926.00  2000
3        Albania  ALB  2023            5144279.00  2023
4        Algeria  DZA  2000           85398600.00  2000
..           ...  ...   ...                   ...   ...
389        Yemen  YEM  2023           10034892.00  2023
390       Zambia  ZMB  2000            1784113.00  2000
391       Zambia  ZMB  2023            7748922.00  2023
392     Zimbabwe  ZWE  2000           13814538.00  2000
393     Zimbabwe  ZWE  2023           11164030.00  2023

[394 rows x 5 columns] dataframe

In [67]:
inspect_data(air_data)

Shape of            Entity Code  Year  Nitrogen oxides emissions from all sectors  \
0     Afghanistan  AFG  2000                                  120223.375
1     Afghanistan  AFG  2001                                   90231.766
2     Afghanistan  AFG  2002                                   86566.555
3     Afghanistan  AFG  2003                                   89515.340
4     Afghanistan  AFG  2004                                   95819.650
...           ...  ...   ...                                         ...
5078     Zimbabwe  ZWE  2018                                   83017.195
5079     Zimbabwe  ZWE  2019                                   80245.730
5080     Zimbabwe  ZWE  2020                                   68585.510
5081     Zimbabwe  ZWE  2021                                   71677.440
5082     Zimbabwe  ZWE  2022                                   74016.900

      Sulfur dioxide emissions from all sectors  \
0                                     4500.1357
1                                     3474.7346
2                                     3031.5232
3                                     4515.8340
4                                     5065.5140
...                                         ...
5078                                 56813.8440
5079                                 53119.7270
5080                                 43913.0660
5081                                 45332.8480
5082                                 51720.8550

      Carbon monoxide emissions from all sectors  \
0                                      316638.20
1                                      325079.66
2                                      281569.47
3                                      305315.62
4                                      315255.90
...                                          ...
5078                                  1557406.40
5079                                  1574806.20
5080                                  1593860.40
5081                                  1624347.10
5082                                  1626331.60

      Black carbon emissions from all sectors  \
0                                   7466.4937
1                                   7494.4410
2                                   7727.1530
3                                   7899.4170
4                                   8062.2827
...                                       ...
5078                               32053.3420
5079                               32554.9200
5080                               32468.0180
5081                               33176.1680
5082                               33233.2500

      Ammonia emissions from all sectors  \
0                             118507.695
1                             110896.680
2                             122058.800
3                             124123.970
4                             126762.620
...                                  ...
5078                          124552.945
5079                          127213.580
5080                          129913.870
5081                          132657.840
5082                          134488.420

      Non-methane volatile organic compounds emissions from all sectors
0                                            111181.120
1                                            103820.550
2                                             97842.130
3                                            111285.734
4                                            111559.836
...                                                 ...
5078                                         291076.380
5079                                         294404.970
5080                                         298708.530
5081                                         304506.340
5082                                         305583.120

[5083 rows x 9 columns] dataframe
Info of            Entity Code  Year  Nitrogen oxides emissions from all sectors  \
0     Afghanistan  AFG  2000                                  120223.375
1     Afghanistan  AFG  2001                                   90231.766
2     Afghanistan  AFG  2002                                   86566.555
3     Afghanistan  AFG  2003                                   89515.340
4     Afghanistan  AFG  2004                                   95819.650
...           ...  ...   ...                                         ...
5078     Zimbabwe  ZWE  2018                                   83017.195
5079     Zimbabwe  ZWE  2019                                   80245.730
5080     Zimbabwe  ZWE  2020                                   68585.510
5081     Zimbabwe  ZWE  2021                                   71677.440
5082     Zimbabwe  ZWE  2022                                   74016.900

      Sulfur dioxide emissions from all sectors  \
0                                     4500.1357
1                                     3474.7346
2                                     3031.5232
3                                     4515.8340
4                                     5065.5140
...                                         ...
5078                                 56813.8440
5079                                 53119.7270
5080                                 43913.0660
5081                                 45332.8480
5082                                 51720.8550

      Carbon monoxide emissions from all sectors  \
0                                      316638.20
1                                      325079.66
2                                      281569.47
3                                      305315.62
4                                      315255.90
...                                          ...
5078                                  1557406.40
5079                                  1574806.20
5080                                  1593860.40
5081                                  1624347.10
5082                                  1626331.60

      Black carbon emissions from all sectors  \
0                                   7466.4937
1                                   7494.4410
2                                   7727.1530
3                                   7899.4170
4                                   8062.2827
...                                       ...
5078                               32053.3420
5079                               32554.9200
5080                               32468.0180
5081                               33176.1680
5082                               33233.2500

      Ammonia emissions from all sectors  \
0                             118507.695
1                             110896.680
2                             122058.800
3                             124123.970
4                             126762.620
...                                  ...
5078                          124552.945
5079                          127213.580
5080                          129913.870
5081                          132657.840
5082                          134488.420

      Non-methane volatile organic compounds emissions from all sectors
0                                            111181.120
1                                            103820.550
2                                             97842.130
3                                            111285.734
4                                            111559.836
...                                                 ...
5078                                         291076.380
5079                                         294404.970
5080                                         298708.530
5081                                         304506.340
5082                                         305583.120

[5083 rows x 9 columns] dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5083 entries, 0 to 5082
Data columns (total 9 columns):
 #   Column                                                             Non-Null Count  Dtype
---  ------                                                             --------------  -----
 0   Entity                                                             5083 non-null   object
 1   Code                                                               5083 non-null   object
 2   Year                                                               5083 non-null   int64
 3   Nitrogen oxides emissions from all sectors                         5083 non-null   float64
 4   Sulfur dioxide emissions from all sectors                          5083 non-null   float64
 5   Carbon monoxide emissions from all sectors                         5083 non-null   float64
 6   Black carbon emissions from all sectors                            5083 non-null   float64
 7   Ammonia emissions from all sectors                                 5083 non-null   float64
 8   Non-methane volatile organic compounds emissions from all sectors  5083 non-null   float64
dtypes: float64(6), int64(1), object(2)
memory usage: 357.5+ KB
Head of            Entity Code  Year  Nitrogen oxides emissions from all sectors  \
0     Afghanistan  AFG  2000                                  120223.375
1     Afghanistan  AFG  2001                                   90231.766
2     Afghanistan  AFG  2002                                   86566.555
3     Afghanistan  AFG  2003                                   89515.340
4     Afghanistan  AFG  2004                                   95819.650
...           ...  ...   ...                                         ...
5078     Zimbabwe  ZWE  2018                                   83017.195
5079     Zimbabwe  ZWE  2019                                   80245.730
5080     Zimbabwe  ZWE  2020                                   68585.510
5081     Zimbabwe  ZWE  2021                                   71677.440
5082     Zimbabwe  ZWE  2022                                   74016.900

      Sulfur dioxide emissions from all sectors  \
0                                     4500.1357
1                                     3474.7346
2                                     3031.5232
3                                     4515.8340
4                                     5065.5140
...                                         ...
5078                                 56813.8440
5079                                 53119.7270
5080                                 43913.0660
5081                                 45332.8480
5082                                 51720.8550

      Carbon monoxide emissions from all sectors  \
0                                      316638.20
1                                      325079.66
2                                      281569.47
3                                      305315.62
4                                      315255.90
...                                          ...
5078                                  1557406.40
5079                                  1574806.20
5080                                  1593860.40
5081                                  1624347.10
5082                                  1626331.60

      Black carbon emissions from all sectors  \
0                                   7466.4937
1                                   7494.4410
2                                   7727.1530
3                                   7899.4170
4                                   8062.2827
...                                       ...
5078                               32053.3420
5079                               32554.9200
5080                               32468.0180
5081                               33176.1680
5082                               33233.2500

      Ammonia emissions from all sectors  \
0                             118507.695
1                             110896.680
2                             122058.800
3                             124123.970
4                             126762.620
...                                  ...
5078                          124552.945
5079                          127213.580
5080                          129913.870
5081                          132657.840
5082                          134488.420

      Non-methane volatile organic compounds emissions from all sectors
0                                            111181.120
1                                            103820.550
2                                             97842.130
3                                            111285.734
4                                            111559.836
...                                                 ...
5078                                         291076.380
5079                                         294404.970
5080                                         298708.530
5081                                         304506.340
5082                                         305583.120

[5083 rows x 9 columns] dataframe

In [68]:
inspect_data(energy_data)

Shape of           Entity Code    Year  \
0    Afghanistan  AFG  2020.0
1    Afghanistan  NaN     NaN
2        Albania  ALB  2020.0
3        Albania  NaN     NaN
4        Algeria  DZA  2020.0
..           ...  ...     ...
385        Yemen  NaN     NaN
386       Zambia  ZMB  2020.0
387       Zambia  NaN     NaN
388     Zimbabwe  ZWE  2020.0
389     Zimbabwe  NaN     NaN

     Primary energy consumption per capita (kWh/person)  time
0                                           1200.74160   2020
1                                            990.46967   2023
2                                           7352.82100   2020
3                                           8032.07030   2023
4                                          14733.60450   2020
..                                                 ...    ...
385                                          875.51770   2023
386                                         2019.72830   2020
387                                         2422.25980   2023
388                                         2163.06840   2020
389                                         3181.36100   2023

[390 rows x 5 columns] dataframe
Info of           Entity Code    Year  \
0    Afghanistan  AFG  2020.0
1    Afghanistan  NaN     NaN
2        Albania  ALB  2020.0
3        Albania  NaN     NaN
4        Algeria  DZA  2020.0
..           ...  ...     ...
385        Yemen  NaN     NaN
386       Zambia  ZMB  2020.0
387       Zambia  NaN     NaN
388     Zimbabwe  ZWE  2020.0
389     Zimbabwe  NaN     NaN

     Primary energy consumption per capita (kWh/person)  time
0                                           1200.74160   2020
1                                            990.46967   2023
2                                           7352.82100   2020
3                                           8032.07030   2023
4                                          14733.60450   2020
..                                                 ...    ...
385                                          875.51770   2023
386                                         2019.72830   2020
387                                         2422.25980   2023
388                                         2163.06840   2020
389                                         3181.36100   2023

[390 rows x 5 columns] dataframe
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 5 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Entity                                              390 non-null    object
 1   Code                                                273 non-null    object
 2   Year                                                273 non-null    float64
 3   Primary energy consumption per capita (kWh/person)  390 non-null    float64
 4   time                                                390 non-null    int64
dtypes: float64(2), int64(1), object(2)
memory usage: 15.4+ KB
Head of           Entity Code    Year  \
0    Afghanistan  AFG  2020.0
1    Afghanistan  NaN     NaN
2        Albania  ALB  2020.0
3        Albania  NaN     NaN
4        Algeria  DZA  2020.0
..           ...  ...     ...
385        Yemen  NaN     NaN
386       Zambia  ZMB  2020.0
387       Zambia  NaN     NaN
388     Zimbabwe  ZWE  2020.0
389     Zimbabwe  NaN     NaN

     Primary energy consumption per capita (kWh/person)  time
0                                           1200.74160   2020
1                                            990.46967   2023
2                                           7352.82100   2020
3                                           8032.07030   2023
4                                          14733.60450   2020
..                                                 ...    ...
385                                          875.51770   2023
386                                         2019.72830   2020
387                                         2422.25980   2023
388                                         2163.06840   2020
389                                         3181.36100   2023

[390 rows x 5 columns] dataframe

I noticed that in **co2_data** and **energy_data** there are duplicate columns namely **time** and **year**.

I will remove on of them, to keep the dataframe simpler

Although in **energy_data** the decision becomes clearer because **year_column** is the same as **time** but with missing values for 2023.

In [69]:
co2_data.columns

Index(['Entity', 'Code', 'Year', 'Annual CO₂ emissions', 'time'], dtype='object')

In [70]:
# Dropping duplicate columns
co2_data = co2_data.drop(columns = ["time"])

energy_data = energy_data.drop(columns = ["Year"])
# Rename time column to year
energy_data = energy_data.rename(columns = {"time": "Year"})

In [71]:
co2_data.head(n = 5)

        Entity Code  Year  Annual CO₂ emissions
0  Afghanistan  AFG  2000            1047127.94
1  Afghanistan  AFG  2023           11020218.00
2      Albania  ALB  2000            3024926.00
3      Albania  ALB  2023            5144279.00
4      Algeria  DZA  2000           85398600.00

In [72]:
energy_data.head(n = 5)

        Entity Code  Primary energy consumption per capita (kWh/person)  Year
0  Afghanistan  AFG                                         1200.74160   2020
1  Afghanistan  NaN                                          990.46967   2023
2      Albania  ALB                                         7352.82100   2020
3      Albania  NaN                                         8032.07030   2023
4      Algeria  DZA                                        14733.60450   2020

In [73]:
!jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace preprocessing.ipynb
!jupyter nbconvert --to script preprocessing.ipynb

[NbConvertApp] Converting notebook preprocessing.ipynb to notebook
[NbConvertApp] Writing 5186 bytes to preprocessing.ipynb
[NbConvertApp] Converting notebook preprocessing.ipynb to script
[NbConvertApp] Writing 2308 bytes to preprocessing.py